{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title> 
        {% if pagecheck  == 'home' %}
            Oquv markazlar bolimi
        {% elif pagecheck  == 'detail' %}
        {{room|title }} O'quv markazi
        {% else %}  
        {% endif %}
               </title>

        <!-- CSS FILES -->       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
           
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/css/templatemo-topic-listing.css" rel="stylesheet">      
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    <style>
        *{
            text-wrap: wrap;
            word-break: break-all;
            word-wrap: break-word;
        }
    </style>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <i class="bi-back"></i>
                        <span>Topic</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        {% if request.user.is_authenticated %}
                        <a  class="navbar-icon fas fa-sign-out" href="{% url 'logout' %}"></a>
                      {% else %}
                        <a class="navbar-icon bi-person smoothscroll" href="{% url 'login' %}"></a>
                      {% endif %}
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'home' %}">Home</a>
                            </li>

                        {% if pagecheck  == 'home' %}
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Browse Topics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">How it works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>
                            {% else %}
                            {% endif %}
                            
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/all_shcoll/">Oquv markazlar</a>
                            </li>


                        </ul>
                        {% if request.user.is_authenticated %}
                          <a  class="navbar-icon fas fa-sign-out" href="{% url 'logout' %}"></a>
                        {% else %}
                          <a class="navbar-icon bi-person smoothscroll" href="{% url 'login' %}"></a>
                        {% endif %}
                    </div>
                </div>
            </nav>


            
{% if request.user.is_superuser  %}
    
{% else %}


                
<script>
        document.onkeydown = function(e) {
        if(event.keyCode == 123) {
            console.log('You cannot inspect Element');
            return false;
        }
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
            console.log('You cannot inspect Element');
            return false;
        }
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
            console.log('You cannot inspect Element');
            return false;
        }
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
            console.log('You cannot inspect Element');
            return false;
        }
        if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
            console.log('You cannot inspect Element');
            return false;
        }
        if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
            console.log('You cannot inspect Element');
            return false;
        }

    }
    document.addEventListener('contextmenu', e => e.preventDefault());
    
</script>
{% endif %}
{% block content %}
    
{% endblock content %}
    



        
        </main>




        <footer class="site-footer section-padding">
                    <div class="container">
                        <div class="row">
        
                            <div class="col-lg-3 col-12 mb-4 pb-2">
                                <a class="navbar-brand mb-2" href="index.html">
                                    <i class="bi-back"></i>
                                    <span>Topic</span>
                                </a>
                            </div>
        
                            <div class="col-lg-3 col-md-4 col-6">
                                <h6 class="site-footer-title mb-3">Resources</h6>
        
                                <ul class="site-footer-links">
                                    <li class="site-footer-link-item">
                                        <a href="#" class="site-footer-link">Home</a>
                                    </li>
        
                                    <li class="site-footer-link-item">
                                        <a href="#" class="site-footer-link">How it works</a>
                                    </li>
        
                                    <li class="site-footer-link-item">
                                        <a href="#" class="site-footer-link">FAQs</a>
                                    </li>
        
                                    <li class="site-footer-link-item">
                                        <a href="#" class="site-footer-link">Contact</a>
                                    </li>
                                </ul>
                            </div>
        
                            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                                <h6 class="site-footer-title mb-3">Information</h6>
        
                                <p class="text-white d-flex mb-1">
                                    <a href="tel: 305-240-9671" class="site-footer-link">
                                        305-240-9671
                                    </a>
                                </p>
        
                                <p class="text-white d-flex">
                                    <a href="mailto:info@company.com" class="site-footer-link">
                                        info@company.com
                                    </a>
                                </p>
                            </div>
        
                            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    English</button>
        
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" type="button">Thai</button></li>
        
                                        <li><button class="dropdown-item" type="button">Myanmar</button></li>
        
                                        <li><button class="dropdown-item" type="button">Arabic</button></li>
                                    </ul>
                                </div>
        
                                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                                <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
                                
                            </div>
        
                        </div>
                    </div>
        </footer>
        
        
            
                <script src="/static/js/jquery.min.js"></script>
                <script src="/static/js/bootstrap.bundle.min.js"></script>
                <script src="/static/js/jquery.sticky.js"></script>
                <!-- <script src="/static/js/click-scroll.js"></script> -->
                <script src="/static/js/custom.js"></script>
     
    </body>

</html>
        