{% extends 'base.html' %}
{% block content %}
<div style="height: 80px; " class="bg-education"></div>

<section style="display: flex; align-items: center; justify-content: center; width: 100%; height: 50vh;">

<div>
    

<center>
    <h3>Tizimga kirish</h3>
</center>

<form  method="POST">
    {% csrf_token %}
    
<center>
    <input style="width: 300px !important;" class="form-control my-1" placeholder="Ismingiz" type="text" name="username"> 
    <input style="width: 300px !important;" class="form-control my-1" type="password" placeholder="Parolingiz" name="password">
    <br>
        <button type="submit" class="btn bg-secondary text-white">Tizimga kirish</button>
        <a href="{% url 'signup' %}" style="border-radius: 5px !important;" class="btn btn-primary ">Yangi hisob yaratish</a>
</center>

</form>  
 </div> 
</section>
{% endblock content %}
    