{% extends 'base.html' %}
{% block content %}

<style>
    #gaps div {
      border: 1px solid rgba(246, 246, 246, 0.626);
       width: 100%;
       backdrop-filter: blur(15px);
padding: 8px ;
    }
    #gaps div div{
      border:  none;
      background-color:transparent;
padding: 0 ;
    }
    #gaps {
        width: fit-content;
        
    }
</style>





{% if  room.checking == False %}

{% if room.user == user or user.is_superuser %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
<div class="row justify-content-center align-items-center">

<div class="col-lg-5 col-12 mb-5">


<h2 class="text-white text-capitalize">{{room}}</h2>

<div id="gaps" class=" d-flex flex-column gap-2">

<div class="d-flex align-items-center gap-2"> 
    <i class="fa-regular fa-clock text-white fs-5"></i>
    <div class="text-white">{{room.time|timesince }} oldin qoshilgan</div>
</div>

<div class="d-flex align-items-center gap-2"> 

    <i class="fa-solid fa-location-dot text-white fs-5"></i>
    <div class="text-white text-capitalize" >{{room.viloyat1}} , {{room.manzil}}</div>
</div>

<div class="d-flex align-items-center gap-2"> 
    <i class="fa fa-phone text-white fs-5"></i>
    <div class="text-white">{{room.number}} </div>
</div>

<div class="d-flex align-items-center gap-2"> 
    <i class="fa fa-user text-white fs-5"></i>
    <div class="text-white">{{room.user}} </div>
</div>
<div class="d-flex align-items-center gap-2"> 
    <i class="fa fa-users text-white fs-5"></i>
    <div class="text-white">{{room.applys}} - ta oquvchi ariza tashlagan</div>
</div>
</div>

</div>

<div class="col-lg-5 col-12">
                <div class="topics-detail-block bg-white shadow-lg">
                    <img src="/media/{{room.img}}" class="topics-detail-block-image img-fluid">
                </div>
</div>

</div>
    </div>
</header>
<ul class="nav nav-tabs" role="tablist">
    <button onclick="clickd(this)" data-key="haqida"  class="nav-link active" data-bs-toggle="tab"  type="button" >Batafsil</button>

</ul>

<center id="all_data">


<div  data-tag="haqida" style="display: block;"  class="col-lg-8 col-11 text-start">
<h3>O'quv markazi haqida </h3>
<p>{{room.body}}</p>

<div class="d-flex justify-content-start gap-3">
    {% if room.youtobe %}
    <a href="{{room.youtobe}}" class="fa-brands fa-youtube fs-3"></a>
    {% endif %}
    
    {% if room.telegram %}
    <a href="{{room.telegram}}" class="fa-brands fa-telegram fs-3"></a>
    {% endif %}
    
    {% if room.instagram %}
    <a href="{{room.instagram}}" class="fa-brands fa-square-instagram fs-3"></a>
    {% endif %}
    
    {% if room.facebook %}
    <a href="{{room.facebook}}" class="fa-brands fa-facebook fs-3"></a> 
    {% endif %}
    
</div>

<h5 class="my-2">Status <i class="fa fa-times-circle text-danger"></i></h5>
{% if  room.user == user or user.is_superuser  %}
    <a class="bg-primary text-white py-0 px-3" href="/updateoquv/{{room.id}}">update</a>
{% endif %}

</div>







</center>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<script>
function clickd(x) {
for (const iterator of document.getElementById('all_data').children) {
if (iterator.getAttribute('data-tag') == x.getAttribute('data-key')) {
iterator.style.display = 'block'
}
else{
iterator.style.display = 'none'

}
}
}

function sort_boll(x) {
for (const iterator of document.getElementById('saved_aapply').children) {
if (iterator.getAttribute('data-type') == x) {
iterator.style.display = 'none'
}
else{
iterator.style.display = 'block'

}

}
}

function all_show() {
for (const iterator of document.getElementById('saved_aapply').children) {
iterator.style.display = 'block'

}
}
</script>
{% else %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
<center><h1 class="text-white">Oquv markazi admin tomonidan ruhsat berilmagan</h1></center>
    </div>
</header>
{% endif %}



{% else %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
<div class="row justify-content-center align-items-center">

<div class="col-lg-5 col-12 mb-5">


<h2 class="text-white text-capitalize">{{room}}</h2>

<div id="gaps" class=" d-flex flex-column gap-2">

<div class="d-flex align-items-center gap-2"> 
    <i class="fa-regular fa-clock text-white fs-5"></i>
    <div class="text-white">{{room.time|timesince }} oldin qoshilgan</div>
</div>

<div class="d-flex align-items-center gap-2"> 

    <i class="fa-solid fa-location-dot text-white fs-5"></i>
    <div class="text-white text-capitalize" >{{room.viloyat1}} , {{room.manzil}}</div>
</div>

<div class="d-flex align-items-center gap-2"> 
    <i class="fa fa-phone text-white fs-5"></i>
    <div class="text-white">{{room.number}} </div>
</div>

<div class="d-flex align-items-center gap-2"> 
    <i class="fa fa-user text-white fs-5"></i>
    <div class="text-white">{{room.user}} </div>
</div>
<div class="d-flex align-items-center gap-2"> 
    <i class="fa fa-users text-white fs-5"></i>
    <div class="text-white">{{room.applys}} - ta oquvchi ariza tashlagan</div>
</div>
</div>

</div>

<div class="col-lg-5 col-12">
                <div class="topics-detail-block bg-white shadow-lg">
                    <img src="/media/{{room.img}}" class="topics-detail-block-image img-fluid">
                </div>
</div>

</div>
    </div>
</header>
<ul class="nav nav-tabs" role="tablist">
    <button onclick="clickd(this)" data-key="haqida"  class="nav-link active" data-bs-toggle="tab"  type="button" >Batafsil</button>
    <button onclick="clickd(this)" data-key="kurslar"  class="nav-link" data-bs-toggle="tab"  type="button"  >Kurslar</button>
    {% if room.user == user or user.is_superuser%}
    <button onclick="clickd(this)" data-key="arizalar"  class="nav-link" data-bs-toggle="tab"  type="button"  >Arizalar</button>
{%endif%}
</ul>
<center id="all_data">


<div  data-tag="haqida" style="display: block;"  class="col-lg-8 col-11 text-start">
<h3>O'quv markazi haqida </h3>
<p>{{room.body}}</p>
<div class="d-flex justify-content-start gap-3">
{% if room.youtobe %}
<a href="{{room.youtobe}}" class="fa-brands fa-youtube fs-3"></a>
{% endif %}

{% if room.telegram %}
<a href="{{room.telegram}}" class="fa-brands fa-telegram fs-3"></a>
{% endif %}

{% if room.instagram %}
<a href="{{room.instagram}}" class="fa-brands fa-square-instagram fs-3"></a>
{% endif %}

{% if room.facebook %}
<a href="{{room.facebook}}" class="fa-brands fa-facebook fs-3"></a> 
{% endif %}

</div>
<h5 class="my-2">Status <i class="fa fa-check-circle text-success"></i></h5>

{% if  room.user == user or user.is_superuser  %}
    <a class="bg-primary text-white py-0 px-3" href="/updateoquv/{{room.id}}">update</a>
{% endif %}

</div>


<div style="display: none;" data-tag="kurslar" ><center><h4>Kurslar soni {{kurslar|length}}-ta</h4></center>
<div style="display: flex; justify-content: center; gap: 10px; flex-wrap: wrap;">




{% for x in kurslar %}
<div style="width: 350px !important;">
<div class="custom-block bg-white shadow-lg p-3">
<a href="{% url 'detailkurs' x.id %}">
    <img src="/media/{{x.img}}" class="custom-block-image img-fluid" alt="">
        <div>
            <h5 class="mb-2 text-start fs-5" >{{x.title}}</h5>

            <p  class="mb-0 text-start">{{x.body|slice:"0:70"}}...</p>
            {% if room.user == user or user.is_superuser %}
        <a href="/removekurs/{{x.id}}/" class="btn btn-danger">O'chirish</a>
        {% endif%}
        </div>


</a>
</div>
</div>
{% endfor %}

</div>

{% if room.user == user  or user.is_superuser %}
<section id="kursqowiw">
<center>
<button  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary my-4 fs-5 d-flex align-items-center gap-2">
Kurs qoshish <i class="fa fa-plus"></i></button>
</center>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form  method="POST"  enctype="multipart/form-data" class="modal-body d-flex flex-column gap-2">
{% csrf_token %}
<input name="ktitle" required maxlength="40" class="form-control" placeholder="Kurs nomi" type="text">
<textarea name="kbody" required class="form-control" minlength="40" placeholder="Kurs haqida batafsil" style="resize: none;" cols="30" rows="10"></textarea>
<input name="kdavomiyligi" required class="form-control" placeholder="Davomiyligi necha oy" type="number">
<input name="kprice" required class="form-control" placeholder="Narhi $ da" type="number">
<input name="kimg" required class="form-control"  type="file" accept="image/*">
<select name="kcategory" >
{% for c in categ %}
<option value="{{c.id}}">{{c}}</option>
{% endfor %}


</select>
<input type="submit"  value="jonatish">
</form>

</div>
</div>
</div>


</section> 
{% endif %}



</div>


{% if room.user == user or user.is_superuser %}
<div  style="display: none;" data-tag="arizalar" class="col-lg-8 col-12 ">

{% if room.applys == 0 %}
<h4>Arizalar mavjud emas</h4>
{% else %}
<center class="my-5">
<h4 >Arizalar soni {{room.applys}}-ta</h4>

<button onclick="sort_boll('1')"  class="btn btn-warning">Saqlangan
<img width="20" src="https://cdn-icons-png.flaticon.com/512/4315/4315445.png" alt="">
</button>
<button onclick="sort_boll('2')"  class="btn btn-warning">Saqlanmagan
<img width="20" src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" alt="">
</button>
<button onclick="all_show()"  class="btn btn-warning">
Barchasi
</button>
</center>
<div id="saved_aapply" class="d-flex justify-content-center flex-wrap gap-3 ">


{% for f in all_apply %}
{% if room == f.category.markaz %}


{% if f.ariza_chek == False %}

<div data-type="1" class="card text-start" style="width: 18rem;">
<div style="display: flex; width: 18rem;">
<img class="w-75" style="border-radius: 5px;"  src="/media/{{f.img}}" alt="">
<div class="w-25 d-flex flex-column justify-content-center"> 
<a href="/ariza_true/{{f.id}}" class="btn bg-warning h-50 " style="border-radius: 0 !important;"><img width="100%" src="https://cdn-icons-png.flaticon.com/512/4315/4315445.png" alt=""></a>
<a class="btn bg-primary bg-opacity-75 h-50 " style="border-radius: 0 !important;"><img width="100%" src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" alt=""></a>
</div>
</div>
<div class="card-header text-black">
{{f}}
</div>
<ul class=" list-group list-group-flush">
<li class="list-group-item fs-6"><i class="fa fa-phone"></i> {{f.number}}</li>
<li class="list-group-item fs-6"><i class="fa fa-user"></i> {{f.title}}</li>
<li class="list-group-item fs-6">Age : {{f.age}}</li>
<li title="{{f.body}}" onclick="document.getElementById('model1_p').innerHTML = this.title "  data-bs-toggle="modal" data-bs-target="#open13" class="btn btn-warning  ">Read more</li>

</ul>
</div>

{% else %}

<div data-type="2"  class="card bg-success text-start" style="width: 18rem;">
<div style="display: flex; width: 18rem;">
<img class="w-75" style="border-radius: 5px;"  src="/media/{{f.img}}" alt="">
<div class="w-25 d-flex flex-column justify-content-center"> 
<button class="btn bg-warning h-50 " style="border-radius: 0 !important;"><img width="100%" src="https://cdn-icons-png.flaticon.com/512/4315/4315445.png" alt=""></button>
<a href="/ariza_false/{{f.id}}" class="btn bg-primary bg-opacity-75 h-50 " style="border-radius: 0 !important;"><img width="100%" src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" alt=""></a>
</div>
</div>
<div class="card-header text-white">
{{f}}
</div>
<ul class=" list-group list-group-flush">
<li class="list-group-item bg-success text-white fs-6"><i class="fa fa-phone"></i> {{f.number}}</li>
<li class="list-group-item bg-success text-white fs-6"><i class="fa fa-user"></i> {{f.title}}</li>
<li class="list-group-item bg-success text-white fs-6">Age : {{f.age}}</li>
<li title="{{f.body}}" onclick="document.getElementById('model1_p').innerHTML = this.title "  data-bs-toggle="modal" data-bs-target="#open13" class="btn btn-warning  ">Read more</li>

</ul>
</div>
{% endif %}


{% endif %}
{% endfor %}


</div>
<section>
<div class="modal fade" id="open13" tabindex="-1" aria-labelledby="close1" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="close1">Ariza haqida malumot </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div   class="modal-body">
<p id="model1_p" class="text-start"></p>
</div>

</div>
</div>
</div>

</section> 

{% endif %}
</div>
{% endif %}



    

</center>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<script>
function clickd(x) {
for (const iterator of document.getElementById('all_data').children) {
if (iterator.getAttribute('data-tag') == x.getAttribute('data-key')) {
iterator.style.display = 'block'
}
else{
iterator.style.display = 'none'

}
}
}

function sort_boll(x) {
for (const iterator of document.getElementById('saved_aapply').children) {
if (iterator.getAttribute('data-type') == x) {
iterator.style.display = 'none'
}
else{
iterator.style.display = 'block'

}

}
}

function all_show() {
for (const iterator of document.getElementById('saved_aapply').children) {
iterator.style.display = 'block'

}
}
</script>
{% endif %}
    



{% endblock content %}          